<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.shopproduct.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.springcloud.shopuser.entity.ShopUser">
        <result column="uid" jdbcType="INTEGER" property="uid"></result>
        <result column="userName" jdbcType="VARCHAR" property="userName"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="telephone" jdbcType="INTEGER" property="telephone"></result>
    </resultMap>

    <select id="searchAll" resultType="com.springcloud.shopuser.entity.ShopUser">
        select * from shop_user
    </select>
    <select id="findByName" resultType="com.springcloud.shopuser.entity.ShopUser" resultMap="BaseResultMap">
        select * from shop_user where userName = #{name}
    </select>
    <insert id="addUser">
        insert into shop_user(userName,password,telephone) values (#{userName},#{password},#{telephone})
    </insert>
</mapper>